*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

background:url("https://images.unsplash.com/photo-1562774053-701939374585?w=1600") center/cover;

display:flex;

justify-content:center;

align-items:center;

}

.overlay{

width:100%;
height:100vh;

background:rgba(0,0,0,.55);

display:flex;

justify-content:center;

align-items:center;

}

.login-card{

width:420px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(18px);

padding:40px;

border-radius:25px;

color:white;

box-shadow:0 15px 40px rgba(0,0,0,.3);

animation:fade .8s;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.login-card h1{

font-size:34px;

font-weight:700;

}

.login-card p{

color:#ddd;

}

.form-control,
.form-select{

height:50px;

}

.input-group-text{

background:#2563eb;

color:white;

border:none;

}

.btn-primary{

height:50px;

font-size:18px;

border-radius:10px;

}

a{

color:white;

text-decoration:none;

}

a:hover{

text-decoration:underline;

}