<!-- Faculty Section -->

<section class="container mt-5 mb-5">


<h2 class="text-center mb-4">

👨‍🏫 Our Faculty

</h2>


<p class="text-center mb-5">

Experienced professors and industry experts guiding students towards success.

</p>



<div class="row g-4">



<div class="col-md-4">


<div class="card shadow p-4 text-center h-100">


<h3>
👨‍💼
</h3>


<h4>
Dr. Arun Kumar
</h4>


<p>
Head of Department
</p>


<p>

Department:
Artificial Intelligence & Data Science

</p>


<p>

Specialization:
Machine Learning, Deep Learning

</p>


<button class="btn btn-outline-primary">

View Profile

</button>


</div>


</div>







<div class="col-md-4">


<div class="card shadow p-4 text-center h-100">


<h3>
👩‍💻
</h3>


<h4>
Dr. Priya Sharma
</h4>


<p>
Associate Professor
</p>


<p>

Department:
Computer Science Engineering

</p>


<p>

Specialization:
Data Science, Cloud Computing

</p>


<button class="btn btn-outline-primary">

View Profile

</button>


</div>


</div>







<div class="col-md-4">


<div class="card shadow p-4 text-center h-100">


<h3>
👨‍🔬
</h3>


<h4>
Prof. Rahul Raj
</h4>


<p>
Assistant Professor
</p>


<p>

Department:
Electronics & Communication

</p>


<p>

Specialization:
IoT, Embedded Systems

</p>


<button class="btn btn-outline-primary">

View Profile

</button>


</div>


</div>




</div>


</section>